<!-- <html>
  <div id="container">
    <h1>&bull; Sintomatologia &bull;</h1>
    <div class="underline">
    </div>
    <div class="icon_wrapper">
  
  
      <svg version="1.0" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" class="icon" viewBox="0 0 90 90"  >
   <path fill="#231F20" d="M60,16H48V4c0-2.211-1.789-4-4-4H20c-2.211,0-4,1.789-4,4v12H4c-2.211,0-4,1.789-4,4v40c0,2.211,1.789,4,4,4
     h56c2.211,0,4-1.789,4-4V20C64,17.789,62.211,16,60,16z M24,8h16v8H24V8z M40,44h-4v4c0,2.211-1.789,4-4,4s-4-1.789-4-4v-4h-4
     c-2.211,0-4-1.789-4-4s1.789-4,4-4h4v-4c0-2.211,1.789-4,4-4s4,1.789,4,4v4h4c2.211,0,4,1.789,4,4S42.211,44,40,44z"/>
   </svg>
    </div>
    <form action="#" method="post" id="contact_form">
      <div class="name">
        <label for="name"></label>
        <input type="text" placeholder="Motivo de consulta" name="name" id="name_input" required>
      </div>
      <div class="telephone">
        <label for="name"></label>
        <input type="text" placeholder="Enfermedad o problema actual" name="telephone" id="telephone_input" required>
      </div>
      <div class="telephone">
        <label for="name"></label>
        <input type="text" placeholder="Antecedentes Personales (Descripcion)" name="telephone" id="telephone_input" required>
      </div>
      <div class="subject">
        <label for="subject"></label>
        <select placeholder="Subject line" name="subject" id="subject_input" required>
          <option disabled hidden selected>Antecedentes Familiares</option>
          <option>Cardiopatia</option>
          <option>Diabetes</option>
          <option>Enfermedad vascular</option>
          <option>Hipertension</option>
          <option>Cancer</option>
          <option>Tuberculosis</option>
          <option>Enfermedad mental</option>
          <option>Enfermedad Infecciosa</option>
          <option>OTRO ANTECEDENTE</option>
          <option>SIN ANTECEDENTE</option>
        </select>
      </div>
      <div class="submit">
        <input type="submit" value="Ingresar Sintomatologia" id="form_button" />
      </div>
    </form> // End form 
  </div>// End #container 
</html> -->